.parent{
    border: 1px solid black;

    height: 500px;

}

.child{
    border: 1px solid black;
    width: 50%;  /* 75% of it's parent's content-width */
    height: 50%;

    padding: 10%;
    margin: 2%;

    font-size: 200%;

}

