/* .parent p{ selects p tag which is descendant of .parent tag
    color: aqua;
    font-size: 1.5rem;
    font-weight: bolder;
} */


body>p , .parent>p, body>h1{ 
    color: aqua;
    font-size: 1.5rem;
    font-weight: bolder;
}

